.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 90%;
    border-radius: 25px;
    border: 1px solid red;
    background: linear-gradient(brown, #9198e5);
    cursor: pointer;
}

.title_card{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70%;
    height: 80%;
}
.card :hover{
color: white;
background: linear-gradient(#9198e5, brown);
}